@import "_mixins";

/**
 * Animations
 */
// primes:
//  2  3  5  7 11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71
// 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173
$position-1-scale: 0.05;
$position-1-base-pos-x: 960px*(0.6);
$position-1-base-pos-y: 480px*(0.0);
$position-1-rotate: -330deg 150deg 35deg;
$position-1-rotate-axis: 10deg -30deg -60deg;
$position-1-transition-duration: 31s;

$position-2-scale: 0.06;
$position-2-base-pos-x: 960px*(-0.6);
$position-2-base-pos-y: 480px*(-0.1);
$position-2-rotate: 30deg 35deg 30deg;
$position-2-rotate-axis: -30deg -30deg 70deg;
$position-2-transition-duration: 37s;

$position-3-scale: 0.04;
$position-3-base-pos-x: 960px*(0.7);
$position-3-base-pos-y: 480px*(0.3);
$position-3-rotate: 5deg 15deg 40deg;
$position-3-rotate-axis: 30deg 60deg -40deg;
$position-3-transition-duration: 41s;

$transition-to-background-duration: 500ms;
$blur-radius: 4px;

// floating animation
@include set-experimental-support($moz: false, $webkit: true, $ms: false, $o: true, $khtml: false);
@include keyframes(position-1-in-background) {
	@include in-background-animation(
		$position-1-base-pos-x, $position-1-base-pos-y,
		$position-1-scale, $position-1-rotate, $position-1-rotate-axis,
		(0 0, -44 -19, -78 -18, -95 1, -97 26, -73 68, -26 97, 9 97, 29 73, 27 35));
		//(0 0, 48 64, -64 80, 96 -48, -96 -32)
}

@include keyframes(position-2-in-background) {
	@include in-background-animation(
		$position-2-base-pos-x, $position-2-base-pos-y,
		$position-2-scale, $position-2-rotate, $position-2-rotate-axis,
		(0 0, 34 2, 63 18, 69 48, 52 73, 8 89, -48 80, -66 66, -79 42, -76 16, -52 2));
		//(0 0, 60 -48, 84 24, -24 72, -72 12, 0 -60, 96 48, 36 84)
}

@include keyframes(position-3-in-background) {
	@include in-background-animation(
		$position-3-base-pos-x, $position-3-base-pos-y,
		$position-3-scale, $position-3-rotate, $position-3-rotate-axis,
		(0 0, 19 -23, 26 -48, 18 -75, -4 -88, -33 -87, -72 -66, -88 -36, -84 3, -64 24, -25 20));
		//(0 0, -68 -52, 24 76, 12 -72, -52 76, -80 20)
}

/**
 * Styles
 */

$color-0: #4b4948;
$color-1: #e14f15;
$color-2: #165b91;
$color-3: #65c813;

body {
	overflow-x: hidden;
	margin: 0;
	min-height: 100%;
	background-color: mix(#fff, #999);
	color: #222;
	font: 1em/1.5 Asap, Arial, sans-serif;
}

h1, h2, h3, h4 {
	margin: 0 0 0.2em;
	font-family: "Advent Pro", Arial, sans-serif;
	line-height: 1.2;
}

header {
	h1, h2 {
		text-transform: uppercase;
		line-height: 1;
	}
}

nav li {
	a {

		@include transition(all 0.25s);
		display: block;
		background: $color-0;

		&, &:hover, &:focus, &:visited
		{
			color: #fff;
			text-decoration: none;
			font-style: 400;
		}
	}

	&:nth-of-type(n) a {
		background: $color-1;

		&:after {
			border-top-color: $color-1;
		}
	}

	&:nth-of-type(2n) a {
		background: $color-2;

		&:after {
			border-top-color: $color-2;
		}
	}

	&:nth-of-type(3n) a {
		background: $color-3;

		&:after {
			border-top-color: $color-3;
		}
	}
}

article {
	@include clearfix;
	background: #fff;

	aside {
		@include box-shadow(0 0 5px #999);
		padding: 20px;

		img {
			max-width: 100%;
		}
	}

	li {
		@include clearfix;
		list-style: none;

		> time {
			font-weight: bold;
			display: block;
		}

		> span.label, > span.label + span {
			display: block;
			float: left;
		}

		> span.label + span > span {
			display: block;
		}
	}

	footer p {
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 0.9em;
	}

	footer .collapsable {
		padding-top: 1.5em;
		border: 1px solid #666;
		border-width: 1px 0;
		overflow: hidden;
		position: relative;
		@include transition(all 0.25s);

		&:before, &:after {
			position: absolute;
			z-index: 2;
			top: 0;
			width: inherit;
			cursor: pointer;

			@include transition(all 0.25s);
		}

		&:before {
			display: block;
			content: attr(data-show-title);
			left: -100%;
		}

		&:after {
			display: block;
			content: attr(data-hide-title);
			left: 0;
		}

		&.collapse {
			height: 0 !important;

			&:before {
				left: 0;
			}
			&:after {
				left: 100%;
			}
		}
	}

	#qrcode {
		width: 240px;
		height: 240px;
		margin-right: auto;
		margin-left: auto;
	}
}

@include respond-to(small) {

	header {
		h1, h2 {
			padding: 5px 3px 0;
			line-height: 0.8;
			margin-bottom: 0;
		}

		h2 {
			margin-bottom: 0.3em;
		}
	}

	nav {
		a {
			padding: 5px;
			line-height: 1.5;
		}
	}

	article {
		padding: 5px;

		aside {
			margin: 10px;
			text-align: center;
		}

		ul {
			padding: 0;

			li {
				padding-bottom: 0.25em;

				> span.label, > span.label + span {
					width: 50%;
				}
			}

			ul {
				margin: 0 0 0.5em 0.5em;

				li {
					list-style: disc;
				}
			}
		}
	}
}

@include respond-to(medium) {

	header {
		h1, h2 {
			display: inline-block;
			padding: 5px 10px 0;
			line-height: 0.8;
			margin-bottom: 0;
		}
	}

	nav li {
		a {
			padding: 5px 10px;
		}
	}

	article {
		padding: 10px;

		aside {
			margin: 0 20px 20px 0;
			max-width: 330px;
		}

		// special cases
		@media (min-width: 450px) {

			aside {
				@include transform(rotateZ(2.5deg) translateZ(0));

				display: inline-block;
				margin: 20px 20px 20px 0;
			}

		}

		@media (min-width: 800px) {

			aside {
				display: block;
				float: right;

				.csstransforms3d & {
					position: relative;

					&:before, &:after {
						@include box-shadow(0 0 2px #999);
						position: absolute;
						z-index: 2;
						display: block;
						width: 100px;
						height: 25px;
						background: #eee;
						content: "";
					}

					&:before {
						@include transform(rotateZ(-35deg));
						top: 5px;
						left: -35px;
					}

					&:after {
						@include transform(rotateZ(-45deg));
						right: -35px;
						bottom: 10px;
					}
				}
			}

		}

		ul {
			margin: 0 0 0.5em;

			li {

				> span.label, > span.label + span {
					width: 150px;
				}
			}
		}

		aside + ul {
			float: left;
			margin-top: 2em;
			width: 300px;
		}
	}
}

@include respond-to(wide) {

	$container-width: 960px;

	body {
		@include background(#999 radial-gradient(#fff, #999) fixed no-repeat);
	}

	#container {
		position: relative;
		margin: 0 auto;
		padding: 20px 0;
		width: $container-width;
	}

	header {
		h1, h2 {
			display: inline-block;
		}

		h1 {
			letter-spacing: -0.02em;
			font-size: 2.5em;
		}

		h2 {
			font-weight: 300;
		}
	}

	nav {
		position: relative;
		z-index: 3;
		height: 75px; // .area: z-index = 2
		@include clearfix;

		li {
			$li-width: $container-width / 3;
			position: relative;
			float: left;
			width: $li-width;

			a {
				padding: 0;
				text-align: center;
				line-height: 50px;
			}

			a:after {
				@include transition(all 0.25s);
				position: absolute;
				bottom: 0;
				left: $li-width / 2 - 25px;
				z-index: -1;
				display: block;
				width: 0;
				height: 0;
				border-width: 25px 25px 0;
				border-style: solid;
				border-color: transparent;
				content: "";
			}

			&.active a:after {
				bottom: -20px;
			}

			&:nth-of-type(n) {
				a {
					background: $color-0;
				}

				&.active a, a:hover, a:focus {
					background: $color-1;
				}
			}

			&:nth-of-type(2n) {
				&.active a, a:hover, a:focus {
					background: $color-2;
				}
			}

			&:nth-of-type(3n) {
				&.active a, a:hover, a:focus {
					background: $color-3;
				}
			}
		}
	}

	article {
		@include clearfix;

		h2 {
			font-size: 2em;
		}

		aside {
			@include transform(rotateZ(2.5deg) translateZ(0));
			float: right;
			margin: 0 20px 20px 0;

			.csstransforms3d & {
				position: relative;

				&:before, &:after {
					@include box-shadow(0 0 2px #999);
					position: absolute;
					z-index: 2;
					display: block;
					width: 100px;
					height: 25px;
					background: #eee;
					content: "";
				}

				&:before {
					@include transform(rotateZ(-35deg));
					top: 5px;
					left: -35px;
				}

				&:after {
					@include transform(rotateZ(-45deg));
					right: -35px;
					bottom: 10px;
				}
			}
		}

		ul {
			margin: 0 0 0.5em;

			li {

				> span.label, > span.label + span {
					width: 200px;
				}
			}
		}

		aside + ul {
			float: left;
			margin-top: 2em;
			width: 400px;
		}
	}

	.outer-wrapper {
		@include filter(blur(0));

		&.blurred {
			@include filter(blur($blur-radius));
		}
	}

	.area {
		$padding: 10px;

		@include box-shadow(0 0 10px #999);
		@include transform(translateZ(0), false);

		position: relative;
		z-index: 2;
		margin-bottom: 1em;
		padding: $padding;
		width: $container-width - 2*$padding;

		.csstransforms3d & {
			@include transition-property(transform);
			@include transition-timing-function(cubic-bezier(.1, .5, .5, 1)); // remove any filters for areas in foreground

			.wrapper {
				@include transition($transition-to-background-duration all cubic-bezier(.1, .5, .5, 1));
				visibility: visible;
				opacity: 1;

				@include transform(translateZ(0), false); // enable the gpu accel.
			}

			&[class*=position] {
				// @include filter(blur(0));
				position: absolute;
				top: 0;
				z-index: -2;
				background: #999;

				.wrapper {
					opacity: 0;
				} // blur fix for areas flying to the background
				@include box-shadow(0 0 100px #777);
			}

			&.in-background {
				// @include filter(blur($blur-radius)); // full blur for areas in the background

				.wrapper {
					visibility: hidden;
				}
			}

			&.position-1 {
				@include transform(
						translate3d(
							$position-1-base-pos-x,
							$position-1-base-pos-y,
							0)
						scale($position-1-scale)
						rotateX(nth($position-1-rotate, 1))
						rotateY(nth($position-1-rotate, 2))
						rotateZ(nth($position-1-rotate, 3)),
					false); // move to the background position (transition)

				&.in-background {
					@include animation(position-1-in-background $position-1-transition-duration infinite linear); // add the float animation
				}
			}

			&.position-2 {
				@include transform(
						translate3d(
							$position-2-base-pos-x,
							$position-2-base-pos-y,
							0)
						scale($position-2-scale)
						rotateX(nth($position-2-rotate, 1))
						rotateY(nth($position-2-rotate, 2))
						rotateZ(nth($position-2-rotate, 3)),
					false); // move to the background position (transition)

				&.in-background {
					@include animation(position-2-in-background $position-2-transition-duration infinite linear); // add the float animation
				}
			}

			&.position-3 {
				@include transform(
						translate3d(
							$position-3-base-pos-x,
							$position-3-base-pos-y,
							0)
						scale($position-3-scale)
						rotateX(nth($position-3-rotate, 1))
						rotateY(nth($position-3-rotate, 2))
						rotateZ(nth($position-3-rotate, 3)),
					false); // move to the background position (transition)

				&.in-background {
					@include animation(position-3-in-background $position-3-transition-duration infinite linear); // add the float animation
				}
			}
			// @include filter(none);
			// enable transitions for moving area to the background
			@include transition-duration($transition-to-background-duration);
		}

		.no-csstransforms3d & {
			&[class*=position] {
				display: none;
			}
		}
	}
}
