@import "compass", "compass/css3", "animation";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
footer,
header,
nav,
section,
summary {
	display: block;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
	$link-color: #ff5e28;
	color: $link-color;
	&:visited {
		color: darken($link-color, 10%);
	}
	&:hover {
		text-decoration: underline;
		color: lighten($link-color, 10%);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover, &:active {
		outline: 0;
	}
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}


/* ==|== primary styles =====================================================
   Author: tdroL
   ========================================================================== */

@mixin respond-to($media) {
	@if $media == small {
		@media only screen and (max-width: 320px) { @content; }
	}
	@else if $media == medium {
		@media only screen and (min-width: 321px) and (max-width: 980px) { @content; }
	}
	@else if $media == wide {
		@media only screen and (min-width: 980px) { @content; }
	}
}

@import "main-body";