@import "compass";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article,
aside,
details,
footer,
header,
nav,
section,
summary {
	display: block;
}

canvas {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

[hidden] {
	display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
	$link-color: #ff5e28;
	color: $link-color;
	&:visited {
		color: darken($link-color, 10%);
	}
	&:hover {
		text-decoration: underline;
		color: lighten($link-color, 10%);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover, &:active {
		outline: 0;
	}
}

/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Redeclare monospace font family: h5bp.com/j
 */

pre,
code,
kbd,
samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

/*
 * Improve readability of pre-formatted text
 */

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: none;

	&:before,
	&:after {
		content: "";
		content: none;
	}
}

small {
	font-size: 85%;
}


/* =============================================================================
   Lists
   ========================================================================== */

ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}

dd {
	margin: 0 0 0 40px;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
	border: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==|== primary styles =====================================================
   Author: tdroL
   ========================================================================== */

body {
	margin: 0;
	font: 1em/1.5 Georgia, serif;
	color: #222;
	background: #fff5c6;
	@include background(radial-gradient(#faedaf, #4f4e28));
}

#container {
	width: 960px;
	margin: 20px auto;
	position: relative;
}

.area {
	position: relative;
	z-index: 2;
	width: 960px - 2*10px;
	margin-bottom: 1em;
	padding: 10px;
	background: #333;
	color: #fef;
	@include box-shadow(0 0 10px #000);
	@include border-radius(10px);
}

#canvas {
	@include border-radius(10px);
	overflow: hidden;
}

#coords {
	width: 100%;
	@include box-sizing(border-box);
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/*
 * Contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}