/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 27, ../scss/noiser.scss */
article,
aside,
details,
footer,
header,
nav,
section,
summary {
  display: block;
}

/* line 31, ../scss/noiser.scss */
canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 37, ../scss/noiser.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 51, ../scss/noiser.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 64, ../scss/noiser.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 69, ../scss/noiser.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 79, ../scss/noiser.scss */
a {
  color: #ff5e28;
}
/* line 82, ../scss/noiser.scss */
a:visited {
  color: #f43d00;
}
/* line 85, ../scss/noiser.scss */
a:hover {
  text-decoration: underline;
  color: #ff845b;
}
/* line 90, ../scss/noiser.scss */
a:focus {
  outline: thin dotted;
}
/* line 94, ../scss/noiser.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Redeclare monospace font family: h5bp.com/j
 */
/* line 110, ../scss/noiser.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improve readability of pre-formatted text
 */
/* line 120, ../scss/noiser.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 126, ../scss/noiser.scss */
q {
  quotes: none;
}
/* line 130, ../scss/noiser.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 136, ../scss/noiser.scss */
small {
  font-size: 85%;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 146, ../scss/noiser.scss */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 151, ../scss/noiser.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 156, ../scss/noiser.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 173, ../scss/noiser.scss */
img {
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
/* line 183, ../scss/noiser.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==|== primary styles =====================================================
   Author: tdroL
   ========================================================================== */
/* line 195, ../scss/noiser.scss */
body {
  margin: 0;
  font: 1em/1.5 Georgia, serif;
  color: #222;
  background: #fff5c6;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #faedaf), color-stop(100%, #4f4e28));
  background: -webkit-radial-gradient(#faedaf, #4f4e28);
  background: -moz-radial-gradient(#faedaf, #4f4e28);
  background: -o-radial-gradient(#faedaf, #4f4e28);
  background: radial-gradient(#faedaf, #4f4e28);
}

/* line 203, ../scss/noiser.scss */
#container {
  width: 960px;
  margin: 20px auto;
  position: relative;
}

/* line 209, ../scss/noiser.scss */
.area {
  position: relative;
  z-index: 2;
  width: 940px;
  margin-bottom: 1em;
  padding: 10px;
  background: #333;
  color: #fef;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 221, ../scss/noiser.scss */
#canvas {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

/* line 226, ../scss/noiser.scss */
#coords {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/*
 * Contain floats: h5bp.com/q
 */
/* line 240, ../scss/noiser.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

/* line 245, ../scss/noiser.scss */
.clearfix:after {
  clear: both;
}

/* line 249, ../scss/noiser.scss */
.clearfix {
  *zoom: 1;
}
